
.contentInputTheme {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.contentInputFocus::after {
    background: black;
    width: 50%;
    height: 1.25rem;
    z-index: -1;
    margin-left: -20rem;
    margin-top: 2rem;
    animation: shadowLabel 1s none normal;
}

@keyframes shadowLabel {
    from {
        width: 0%;
        height: 0;
    }
    to {
        width: 50%;
        height: 1.25rem
    }
}

.contentInputFocus::before,
.contentInputFocus::after {
    content: '';
    left: 50%;
    position: absolute;
    filter: blur(45px);
    transform: translateZ(0);
    transition: margin 1s;
}


.InputTheme {
    height: 2.125rem;
    width: 50%;
    padding: 8px;
    font-size: 16px;
    font-family: var(--font-mono);
    border: 1px solid var(--color-border-shadow);
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgb(180, 180, 180);
    transition: box-shadow 0.3s;
    overflow: hidden;
    resize: none;
}
.InputTheme:focus {
    box-shadow: 3px 3px 3px rgb(208, 208, 208);
    border: 1px solid var(--color-border-shadow);
}
.labelTheme {
    font-family: var(--font-mono);
    transition: text-shadow 0.3s;
}

@media (max-width: 1023px) {
    
    .InputTheme {
        width: 100%;
    }

.contentInputFocus::after {
    margin-left: -5rem;
    width: 50%;
}
}